/*GENERAL*/

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    /* old vars */
    /* --grey: #3f3c48; */
    /* --lightgrey: #585c6a */
    --grey: #222124;
    --lightgrey: #2c2c2c;
    --orange: #ffb331;
    --blue: #39a1f6;
    --lightSkeleton: #cccccc;
    --darkSkeleton: #b3b3b3;
}

body {
    background-color: var(--lightgrey);
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

/* --------- MOBILE / TABLET ---------- */

/* pseudo class*/

.invisible {
    display: none;
}

.page .dark-text {
    color: var(--grey);
}
/* --- COMPONENTS --- */

/* -- Header -- */

.no-scrolling {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.header-wrapper {
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.05rem solid #707070;
}

.header-wrapper h1 {
    color: #fff;
    font-size: 2rem;
    text-decoration: underline;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.feather-logo {
    color: var(--orange);
    font-size: 3rem;
    margin: 0.5rem;
}

.burger-wrapper {
    position: relative;
    width: 3.5rem;
    height: 2.5rem;
    background-color: var(--orange);
    border-radius: 1.25rem 0 0 1.25rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 0.4rem;
    margin: 1rem 0;
    cursor: pointer;
}

.burger-wrapper hr {
    width: 1.5rem;
    border: 0.1rem solid white;
    border-radius: 0.1rem;
    margin-left: 0.5rem;
}

.burger-menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0);
    top: 100%;
    right: 0;
    z-index: 100;
    margin: 1rem 0;
    cursor: initial;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.burger-menu nav {
    width: 20rem;
    max-width: 100%;
    background-color: var(--orange);
    padding: 4rem 2rem;
    text-align: center;
    box-shadow: inset 0 0 0 0.7rem var(--orange), inset 0 0 0 1rem white;
    transition: transform 0.5s ease-in-out;
}

.rolling {
    transform: translateY(-150%);
}

.burger-menu h2 {
    color: var(--lightgrey);
    margin-bottom: 1rem;
}

.burger-menu ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 3rem 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.burger-menu ul li {
    line-height: 3rem;
}

.burger-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.burger-menu .new-article-btn-wrapper {
    text-align: center;
}

.burger-menu .new-article-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: 0;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--blue);
    cursor: pointer;
}

.burger-menu .new-article-btn .btn-feather-logo {
    margin: 0.5rem;
}

.color-switch {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    height: 2rem;
    background-color: white;
    color: var(--orange);
    z-index: 1;
    border-radius: 1.2rem;
    overflow: hidden;
    cursor: pointer;
}

.switch-wrapper {
    position: relative;
}

.switch-icon {
    margin: 0.5rem;
}

.switch-icon.sun {
    left: 0;
}
.switch-icon.moon {
    right: 0;
}

.switcher {
    position: absolute;
    top: -1px;
    left: 0%;
    width: 151%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 31%,
        rgba(19, 29, 51, 0.459) 33%
    );
    transition: all 0.3s ease-in-out;
}

.switch-light {
    transform: translateX(-33%);
}

.switch-dark {
    transform: translateX(0);
}

/* -- Aside -- */

aside {
    margin-top: 3rem;
}

aside section {
    text-align: center;
    color: white;
    background-color: var(--grey);
    border: 0.05rem solid #707070;
    margin-bottom: 1rem;
}

aside h4 {
    margin: 0.5rem auto;
}

.networks-wrapper ul {
    margin: 1rem auto;
    width: 65%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}

.twitter-logo {
    color: #4b8cef;
}

.instagram-logo {
    font-size: 4rem;
    margin-top: 0.15rem;
    color: var(--grey);
    background: linear-gradient(
            90deg,
            var(--grey) 10%,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0) 90%,
            var(--grey) 90%
        ),
        linear-gradient(
            0deg,
            var(--grey) 10%,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0) 90%,
            var(--grey) 90%
        ),
        linear-gradient(
            45deg,
            rgba(255, 0, 0, 1) 20%,
            rgba(247, 246, 43, 1) 45%,
            rgba(250, 68, 255, 1) 67%,
            rgba(107, 0, 167, 1) 100%
        );
}

.facebook-logo {
    color: #5482ff;
}

.author-wrapper img {
    position: relative;
    width: 70%;
    max-width: 25rem;
    margin: 2rem 0;
    border-radius: 2rem;
}

.author-wrapper figure {
    position: relative;
}

.author-wrapper figcaption {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    z-index: 2;
}

/* -- Post Overview -- */

.post-overview {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    border: 0.1rem solid var(--grey);
}

.post-overview h2 {
    color: var(--orange);
    font-family: "Lora", serif;
}

.overview-date {
    color: var(--lightgrey);
    font-weight: bold;
}

/* -- Post Overview : Skeleton -- */

.post-overview.skeleton {
    background-color: var(--lightSkeleton);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
    overflow: hidden;
    border: 0.1rem solid var(--grey);
}

.post-overview.skeleton > * {
    border-radius: 0.2rem;
}

.post-overview.skeleton .skeleton-h2 {
    height: 1.8rem;
    background-color: var(--darkSkeleton);
    width: 40%;
}

.post-overview.skeleton .skeleton-date {
    height: 1.4rem;
    background-color: var(--darkSkeleton);
    width: 10%;
}

.post-overview.skeleton .skeleton-abstract {
    height: 3rem;
    background-color: var(--darkSkeleton);
    width: 100%;
}

.shimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--lightSkeleton);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        var(--lightSkeleton) 33%,
        var(--lightSkeleton) 66%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-30deg);
    animation: loading 2s infinite ease-in-out;
}

@keyframes loading {
    0% {
        transform: translateX(-150%) skewX(-30deg);
    }
    100% {
        transform: translateX(200%) skewX(-30deg);
    }
}

/* -- Scroll Up -- */

.scroll-up-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--orange);

    bottom: 3rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: 10;
}

/* -- Footer -- */

footer {
    background-color: var(--grey);
    border-top: 0.05rem solid #707070;
    text-align: center;
    padding: 1rem;
    color: white;
}

footer img {
    width: 3rem;
    margin: 0.5rem;
}

footer p {
    margin-bottom: 1rem;
}

/* ------------------------------- */
/* --- PAGES --- */

h1 {
    color: var(--orange);
    text-align: center;
    margin: 0.5rem 0;
    font-family: "Lora", serif;
}

.page {
    margin: 1rem;
}

.page h3 {
    color: white;
    text-align: center;
    font-family: "Lora", serif;
}

.page a {
    text-decoration: none;
    color: inherit;
}

/* - Home - */

.search-bar-wrapper {
    width: 80%;
    margin: 1rem auto;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 1.2rem;
    padding: 0.2rem;
    background-color: var(--grey);
}

.search-bar input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border: 0;
    border-radius: 1rem;
}

.search-bar input:focus {
    outline: 0.1rem solid var(--blue);
    /* outline-offset: -0.2rem; */
}

.search-bar button {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
}

.search-bar .search-icon {
    color: white;
    margin: 0 0.5rem;
}

/* - About - */

.about {
    text-align: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about img {
    width: 100%;
    max-width: 30rem;
}

.about section {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
}

.about section h2 {
    margin: 1rem 0;
}

.about section p {
    text-align: left;
}

/* - Login / Register - */

.connection-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 0.2rem solid var(--orange);
    padding: 2rem;
    font-size: 1.6rem;
}

.connection-wrapper label {
    margin: 0.5rem 0;
    color: var(--orange);
    align-self: flex-start;
}

.connection-wrapper input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: black;
    border: 0.1rem solid var(--grey);
}

.connection-wrapper input:focus {
    outline: 0.1rem solid var(--blue);
    outline-offset: -0.2rem;
}

.connection-wrapper input.bad-input {
    box-shadow: 0 0 0 0.1rem red;
}

.connection-wrapper input.bad-input:focus {
    outline-color: red;
}

.connection-wrapper input[type="submit"] {
    width: 70%;
    margin: 2rem 0;
    padding: 0.5rem 1.5rem;
    color: white;
    background-color: var(--orange);
    border: 0;
    border-radius: 0.5rem;
}

.connection-wrapper input[type="submit"]:focus {
    outline-color: white;
}

.connection-wrapper button {
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    border: 0;
    border-radius: 1rem;
    color: white;
    background-color: var(--grey);
}

.error-area {
    width: 100%;
    background-color: red;
    margin-top: 0.5rem;
    padding: 0.3rem;
}

.error-message {
    text-align: center;
    font-size: 1rem;
    color: white;
}

/* - Post Detail - */

.post-detail h2 {
    color: var(--orange);
    margin: 1rem 0;
    font-family: "Lora", serif;
}

.post-wrapper {
    background-color: white;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--grey);
}

.post-wrapper h1 {
    text-align: left;
}

.post-wrapper > p {
    color: var(--lightgrey);
    font-weight: bold;
}

.post-wrapper .post-content {
    margin: 1rem 0;
    text-align: justify;
}

/* article Skeleton */
/* --- */
.post-wrapper.article-skeleton {
    background-color: var(--lightSkeleton);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
    overflow: hidden;
}

.post-wrapper.article-skeleton > * {
    border-radius: 0.2rem;
}

.article-skeleton-h1 {
    background-color: var(--darkSkeleton);
    height: 2rem;
    width: 40%;
    margin: 0.7rem 0;
}

.article-skeleton-date {
    background-color: var(--darkSkeleton);
    height: 1.5rem;
    width: 10%;
    margin: 0.7rem 0 1.3rem 0;
}

.skeleton-line {
    background-color: var(--darkSkeleton);
    height: 1.2rem;
    width: 100%;
    margin: 0.2rem 0;
    border-radius: 0.2rem;
}

.skeleton-line:last-of-type {
    width: 66%;
}

.skeleton-line:nth-of-type(3) {
    width: 80%;
}
.skeleton-line:nth-of-type(4) {
    width: 0;
}

/* --- */

.comment-wrapper {
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    border: 0.1rem solid var(--grey);
}

.comment-wrapper .comment-content {
    margin: 0.5rem 0;
}

.comment-wrapper .comment-content p {
    word-wrap: break-word;
}

.comment-wrapper .user-icon {
    margin: 0 0.5rem;
    color: var(--orange);
}

.admin-options {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
}

.admin-button,
.user-button {
    display: block;
    width: 2rem;
    height: 2rem;
    border: 0;
    border-radius: 0.2rem;
}

.user-button {
    margin-left: auto;
}

.edit-button {
    background-color: var(--blue);
}

.delete-button {
    background-color: red;
}

.admin-icon {
    color: white;
    font-size: 1.3rem;
}

.comment-wrapper h3 {
    color: var(--orange);
    text-align: left;
    display: inline;
}

.comment-wrapper > p:first-of-type {
    display: inline-block;
    margin-left: 1rem;
    font-size: 0.9rem;
}

.no-result-wrapper {
    margin: 1rem 0;
}

.no-result-wrapper p {
    color: white;
}

.add-comment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0;
    gap: 0.3rem;
}

.add-comment-wrapper textarea {
    font-size: 1rem;
    height: 5rem;
    width: 100%;
    resize: none;
    border-radius: 0.2rem;
    padding: 0.2rem;
}

.add-comment-btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--orange);
    border: 0;
    border-radius: 0.2rem;
}

/* - Archives - */

.date-bar-wrapper {
    width: 80%;
    margin: 1rem auto;
}

.date-bar {
    display: flex;
    align-items: center;
    border-radius: 1.2rem;
    gap: 0.2rem;
    padding: 0.2rem;
    background-color: var(--grey);
}

.date-bar .month-select,
.year-input {
    min-width: 0;
    flex-grow: 1;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    text-align: center;
    border: 0;
}

.month-select {
    border-radius: 1rem 0 0 1rem;
}

.year-input {
    border-radius: 0 1rem 1rem 0;
}

.date-bar button {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
}

.date-bar .search-icon {
    color: white;
    margin: 0 0.5rem;
}

/* - New Post / Edit Post - */

.post-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    font-size: 1.6rem;
}

.post-form label {
    color: var(--orange);
}

.post-form input,
textarea {
    padding: 1rem;
    resize: none;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

.post-form input[type="submit"] {
    font-size: 1.6rem;
    color: white;
    background-color: var(--blue);
    border: 0;
    border-radius: 0.2rem;
}

/* - No Service - */

.no-service p {
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/*---------------------------------------------------------------------------*/
/* --------- DESKTOP ---------- */
/* @media screen and (min-width: 768px) */
@media screen and (min-width: 1024px) {
    /* --- COMPONENTS --- */

    /* -- Header -- */
    .header-wrapper {
        padding-left: 10%;
    }

    .header-wrapper h1 {
        font-size: 3rem;
    }

    .title-wrapper {
        margin-left: 5rem;
    }

    .feather-logo {
        font-size: 5rem;
        margin: 2rem 1rem;
    }

    .burger-wrapper {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem 0 0 2rem;
        background-color: transparent;
        align-items: center;
        margin: 3rem 0;
        margin-right: 10%;
    }

    .burger-wrapper hr {
        width: 2.5rem;
        border-color: var(--orange);
        margin-left: 0;
    }

    .burger-menu {
        margin-top: 3rem;
    }

    .burger-menu nav {
        width: 28rem;
        display: flex;
        padding: 10rem 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .burger-menu nav a:hover {
        color: var(--blue);
    }
    /* -- Aside -- */

    aside {
        margin: 0 1rem;
        min-width: 12rem;
    }

    /* -- Post Overview -- */

    .post-overview {
        box-shadow: 1.5rem -0.8rem 0 -0.2rem var(--lightgrey),
            1.5rem -0.8rem 0 var(--orange);
        border: 0.1rem solid var(--grey);
        margin-bottom: 2rem;
        padding: 1.5rem;
    }

    .post-overview.skeleton {
        box-shadow: 1.5rem -0.8rem 0 -0.2rem var(--lightgrey),
            1.5rem -0.8rem 0 var(--darkSkeleton);
    }

    /* -- Scroll Up -- */

    .scroll-up-wrapper {
        right: 3rem;
        width: 4rem;
        height: 4rem;
    }

    /* ------------------------------- */
    /* --- PAGES --- */

    .main-wrapper {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }

    .content-wrapper {
        margin: 0 5%;
        width: 70%;
        max-width: 70rem;
    }

    h1 {
        margin: 1rem 0;
    }

    /* - Home - */

    .search-bar-wrapper {
        width: 40rem;
    }

    .search-bar input {
        flex-grow: 1;
        font-size: 1.3rem;
        padding: 0.2rem 0.5rem;
        border: 0;
        border-radius: 1rem;
    }

    /* - About - */

    .about {
        display: flex;
        align-items: center;
    }

    .about-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        margin: 0 auto;
        /* margin: 2rem auto; */
    }

    .about img {
        min-width: 20rem;
        height: auto;
        max-height: none;
    }

    .about section {
        margin: 0;
        padding: 2rem;
        align-self: stretch;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about section p {
        margin: 1rem 0;
    }

    /* - Login / Register - */

    .connection-wrapper {
        max-width: 35rem;
        margin: 2rem auto;
        gap: 0.6rem;
    }

    /* - Post Detail - */

    .post-wrapper {
        padding: 3rem;
    }

    .post-wrapper .post-content {
        margin: 2rem 0;
    }

    .comment-section {
        max-width: 50rem;
    }

    .add-comment-btn {
        display: block;
        margin: 0 auto;
    }

    /* - Archives - */

    .date-bar-wrapper {
        width: 40rem;
        margin: 1rem auto;
    }

    .date-bar .month-select,
    .year-input {
        font-size: 1.3rem;
    }

    .no-result-wrapper {
        text-align: center;
    }

    /* - New Post / Edit Post - */

    .post-form {
        width: 80%;
        margin: 0 auto;
    }

    /* - No Service - */
}
